.page-dashboard .navbar { background: transparent !important; box-shadow: none !important; }
.page-dashboard .navbar .nav-link, .page-dashboard .navbar .navbar-brand { color: #111 !important; }
.page-dashboard .navbar .navbar-brand { display: none !important; }

